<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> Ahorcado </title>
     <link rel="stylesheet" href="../../css/ahorcado.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <script src="https://kit.fontawesome.com/8d5432346c.js" crossorigin="anonymous"></script>
    </head> 
<body class="body">
     <h1 class="titulo"> Ahorcado   </h1>   
   <div class="caja">
   <a class="paAtras" id="paAtras"> ← </a>
   <i class="fa-solid fa-rotate-right again" id="again"></i>

   <div class="juego">
    <div class="introdLetra"><h2 class="introdLetra1"> introduzca una letra= </h2><input class="introdLetra2 input" type="text" oninput="this.value = this.value.replace(/\d/g, '');"></div><br>
    <button class="botonVerif button">verificar letra</button><br>
    <div class="seccionDicifil"><div class="imgAhorcado1"></div> <!-- <img class="imgAhorcado" src="https://res.cloudinary.com/dduyxqrqt/image/upload/q_auto/f_auto/v1776121271/ahorcado1_y6muup.png">-->
    <div class="seccionAunMasDicifil"><h1 class="resto hiddenWord"> <!--  - - - - - - -  --> </h1><h1 class="resultado"> </h1> </div></div> 
    
   </div>
    
   </div>
<script src="/js/ahorcado.js"> </script>   
</body>
</html> 