
<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> Ahorcado y Tatetí </title>
     <link rel="stylesheet" href="../../css/style.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head> 
<body class="body">
    <h1 class="titulo"> Ahorcado y TA TE TI  </h1>   
    <div class="caja"><div class="botones">
    <button class="boton" id="ahorcado"> Ahorcado </button>
    <button class="boton" id="tateti"> Ta te tí </button>
    </div>
    <div class="botones">
    <button class="boton" id="birdFlappy"> Bird Flappy </button>
    <button class="boton" id="vocabulario"> Vocabulario  </button>
    </div>
    </div>  
    <script src="/js/index.js"> </script>    
</body>
</html> 