<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> Kill Slenderman </title>
     <link rel="stylesheet" href="../../css/killSlenderman.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <script src="https://kit.fontawesome.com/8d5432346c.js" crossorigin="anonymous"></script>
    </head> 
<body class="body">
     <h1 class="titulo"> Slenderman </h1>   
    <div class="caja"><div class="elementosSuperiores"> 
    <a class="paAtras" id="paAtras"> ← </a>
    <div id="puntuacion"> 0 </div>
    <i class="fa-solid fa-rotate-right again" id="again"></i></div><br>
    <canvas id="board" width="900" height="425"></canvas>
    </div> 
<audio id="disparo">
<source src="/audios/mGun3.wav" type="audio/mpeg">
</audio>
<audio id="gameOver">
<source src="/audios/Y2meta.app - slenderman sound effect (128 kbps).mp3" type="audio/mpeg">
</audio>
<script src="/js/killSlenderman.js"> </script>     
</body>
</html>    