<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> Tatetí </title>
     <link rel="stylesheet" href="../../css/tateti.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <script src="https://kit.fontawesome.com/8d5432346c.js" crossorigin="anonymous"></script>
    </head> 
<body class="body">
     <h1 class="titulo"> Ta te tí  </h1>   
    <div class="caja">
    <a class="paAtras" id="paAtras"> ← </a>
    <i class="fa-solid fa-rotate-right again" id="again"></i>

    <div class="cuadros">
       <div class="cell"></div>
       <div class="cell"></div>
       <div class="cell"></div>
       <div class="cell"></div>
       <div class="cell"></div>
       <div class="cell"></div>
       <div class="cell"></div>
       <div class="cell"></div>
       <div class="cell"></div>
       <div class="results" id="results"></div>
    </div>

    </div> 
<script src="/js/tateti.js"> </script>     
</body>
</html>  